body {background-color: tomato;}

h1 {color: yellow; font-size: 80pt; background-color: blue; text-align: center;}

.navigation {color: green;}

a {font-size: 15pt; color: green;}

label {text-align: center; font-size: 15pt;}

p {text-align: center;}

h2 {text-align: center;}